venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.pyc
*__pycache__


# Ignore all content in the input/ and output/ directories...
input/*
output/*

# ...but not the .gitkeep files
!input/.gitkeep
!output/.gitkeep
